@page
@model NestSongAn.Pages.Admin.Salers.DetailsModel
@{
}

<div class="text-center">
    <p class="h3 p-3">Details Saler</p>
</div>

<hr />
<div>
    <h4>Details Saler</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saler.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saler.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saler.AccountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saler.AccountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saler.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saler.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saler.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saler.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saler.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saler.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saler.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saler.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Saler.Id" />
        <a class="btn btn-outline-warning text-warning" asp-page="Index">>Back to List</a>
    </form>
</div>